<div class="page-header">
    <h1><%= link_to @training.topic, "#" %>   <small><%= link_to 'edit', edit_training_path %></small></h1>
</div>


<div class="col-md-3">
  <p>Category: <strong><%= @training.category %></strong></p>
  <p>Price: <strong><%= @training.price %> zł</strong></p>
  <p>Start: <strong><%= @training.start %></strong></p>
  <p>End: <strong><%= @training.end %> </strong></p>
  <p>Training code: <strong><%= @training.training_code %></strong></p>
  <p>By: <strong><%= @training.user.username %></strong></p>
  <p>Stage: <strong><%= @training.stage %></strong></p>
  <p>Place: <strong><%= @training.place %></strong></p>
  <p><%= @training.description %></p>
</div>


<div class="col-lg-5">
  <%= simple_form_for Note.new, :url => { :controller => "notes", :action => "create" }, :html => {:method => :post}, html: {class: 'form-horizontal col-lg-12'} do |n| %>
  <%= n.input :text, label: false, placeholder: 'Your note', :input_html => {:rows => 3}, controls_html: { class: 'col-lg-12' } %>
    <%= n.input :training_id, :as => :hidden, :input_html => { :value => @training.id } %>
    <%= n.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
    <%= n.button :submit %>
  <% end %>
  <br /><br /><br /><br /><br /><br /><hr>
  <% @notes.each do |note| %>
  <p><%= note.text %> by <%= link_to note.user.username, user_path(note.user_id) %> <span class="pull-right"><small><%= note.created_at.to_formatted_s(:short)  %></small></span></p>
  <hr>
  <% end %>   
</div>   


<div class="col-lg-4">
  <div class="panel panel-primary">
    <div class="panel-heading" data-toggle="collapse" data-target="#calls">Schedule<span class="glyphicon glyphicon-plus pull-right"></span></div>
    
    <div id="calls" class="collapse"> 
      <div class="panel-body">
       <%= simple_form_for Schedule.new, :url => {:controller => "schedules", :action => "create" }, :html => {:method => :post}, html: {class: 'form-horizontal col-lg-12'} do |c| %>
        <%= c.input :action_type, label: false, collection: ["Meeting"], prompt: "Call" %>
        <%= c.input :subject, label: false, placeholder: 'Subject', :controls_html => { class: "col-lg-12" } %>
        <%= c.input :time, label: false, as: :string, placeholder: 'Date', :input_html => {:id => "dt5"}, :controls_html => { class: "col-lg-8"} %>
        <%= c.input :training_id, :as => :hidden, :input_html => { :value => @training.id } %>
        <%= c.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
        <%= c.button :submit %>
      <% end %>
      
      <script type="text/javascript">
        $(function() {
          $('#dt5').datetimepicker({
            format: 'DD/MM/YYYY HH:mm:ss'
          });
        });
      </script>
      
      <hr>
      </div>
    </div>
    
   <div class="panel-body">
    <% @schedules.each do |schedule| %>
     <p>
        <% if schedule.action_type == "Meeting" then %> 
         <span class="glyphicon glyphicon-glass"></span>
        <% else %>
         <span class="glyphicon glyphicon-phone-alt"></span>
        <% end %>
       
       <%= schedule.subject %> <small>by</small> <%= link_to schedule.user.username, user_path(schedule.user.id) %>
       <span class="pull-right"><small><%= schedule.time.to_formatted_s(:short)  %>  
         <%= link_to schedule_path(schedule.id), :method => :delete do %>
           <span class="glyphicon glyphicon-remove" style="color:red"></span>
         <% end %>
       </small></span>
     </p>
    <% end %> 
  </div> 
  </div> 
  
  <div class="panel panel-primary">
    <div class="panel-heading" data-toggle="collapse" data-target="#participants">Participants<span class="glyphicon glyphicon-plus pull-right"></span></div>
        <div id="participants" class="collapse"> 
          <div class="panel-body">

            <ul class="nav nav-tabs">
              <li class="active"><a href="#contacts" data-toggle="tab">Contacts</a></li>
              <li><a href="#companies" data-toggle="tab">Companies</a></li>
            </ul>
            <p></p>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="contacts">
              <%= simple_form_for Lead.new, :url => {:controller => "leads", :action => "create" }, :html => {:method => :post}, html: {class: 'form-horizontal col-lg-12'} do |p| %>
                <%= p.association :contact, label: false, prompt: "Choose a contact", :controls_html => { class: "col-lg-12" } %>
                <%= p.input :amount, label: false, :placeholder => "Amount of $" %>
                <%= p.input :training_id, :as => :hidden, :input_html => { :value => @training.id } %>
                <%= p.button :submit, 'Add participant' %>
              <% end %>
              </div>
              <div class="tab-pane fade" id="companies">
              <%= simple_form_for Lead.new, :url => {:controller => "leads", :action => "create" }, :html => {:method => :post}, html: {class: 'form-horizontal col-lg-12'} do |p| %>
                <%= p.association :company, label: false, prompt: "Choose a company", :controls_html => { class: "col-lg-12" } %>
                <%= p.input :amount, label: false, :placeholder => "Amount of $" %>
                <%= p.input :training_id, :as => :hidden, :input_html => { :value => @training.id } %>
                <%= p.button :submit, 'Add participant' %>
              <% end %></div>
            </div>
            
      <hr>
      </div>
    </div>
    <div class="panel-body">
    <% @leads.each do |lead| %>
     <p>
       <% unless lead.contact.blank? #brrrr %>
         <%= link_to lead.contact.name + ' ' + lead.contact.surname, lead_path(lead.id) %>
       <% else %>
         <%= link_to lead.company.name, lead_path(lead.id) %>
       <% end %>
       
       <span class="pull-right"><small>
         <%= link_to lead_path(lead.id), :method => :delete do %>
           <span class="glyphicon glyphicon-remove" style="color:red"></span>
         <% end %>
       </small></span>
     </p>
    <% end %> 
  </div> 
</div>
  </div>
     
  
 