= simple_form_for(@note) do |f|
  = f.error_notification
  .form-inputs
    = f.input :text
    = f.input :user_id
    = f.input :company_id
    = f.input :contact_id
  .form-actions
    = f.button :submit