= simple_form_for(@participant) do |f|
  = f.error_notification
  .form-inputs
    = f.input :role
    = f.input :amount
    = f.input :contact_id
    = f.input :training_id
    = f.input :company_id
  .form-actions
    = f.button :submit