<%= simple_form_for @user, html: {class: 'col-md-offset-2  form-horizontal col-md-8'} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.input :username, wrapper_html: { class: 'username' }  %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :phone %>
<%= f.association :role, include_blank: false, required: true %>
    <%= f.button :submit %>
<% end %>
