<h1>New user</h1>

<%= simple_form_for create_user_by_admin,  html: {class: 'form-horizontal col-md-6'} do |f| %>
    <%= f.input :username %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :phone %>
    <%= f.association :role %>
    <%= f.button :submit %>
<% end %>

<%= link_to 'Back', users_path %>
