<h1>Listing schedules</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Subject</th>
      <th>Time</th>
      <th>Company</th>
      <th>Contact</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.action_type %></td>
        <td><%= schedule.subject %></td>
        <td><%= schedule.time %></td>
        <td><%= schedule.company_id %></td>
        <td><%= schedule.contact_id %></td>
        <td><%= schedule.user_id %></td>
        <td><%= link_to 'Show', schedule %></td>
        <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
        <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schedule', new_schedule_path %>
