<div class="col-md-12">
  <div class="page-header">
    <h4><%= "Leads (#{@how_many_leads})" %></h4>
  </div>
  <div class="row">
    <div class="pull-right"><%= paginate @leads %></div>
    <br /><br />
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= sort_link @search, :id, "ID" %></th>
        <th>Client</th>
        <th><%= sort_link @search, :product, "Product" %></th>
        <th><%= sort_link @search, :status, "Status" %></th>
        <th><%= sort_link @search, :price, "Price" %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @leads.each do |lead| %>
        <tr>
          <td><%= link_to lead.id, lead_path(lead) %></td>
          <td>
            <% unless lead.company_id.nil? %>
              <%= link_to lead.company.name, company_path(lead.company_id) %>
            <% else %>
              <%= link_to lead.contact.name + ' ' + lead.contact.surname, contact_path(lead.contact_id) %>
            <% end %>
          </td>
          <td><%= link_to lead.product.name, product_path(lead.product_id) %></td>
          <td><%= link_to lead.status, lead_path(lead) %></td>
          <td><%= lead.amount %></td>
          <td>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        lead_path(lead),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pull-right"><%= paginate @leads %></div>
</div>