<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @lead.status %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @lead.amount %>
</p>

<p>
  <strong>User:</strong>
  <%= @lead.user_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @lead.company_id %>
</p>

<p>
  <strong>Training:</strong>
  <%= @lead.training_id %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @lead.contact_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @lead.note_id %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @lead.schedule_id %>
</p>

<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
