<h1>Import your base</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Spreedsheet header</th>
      <th>Second row</th>
      <th>Thirt row</th>
      <th>Forth row</th>
    </tr>
  </thead>
  <%= simple_form_for @import do |f| %>
    <% @header.each_with_index do |h, index| %>
      <tr>
        <%= f.input :header, collection: @fields, label: false, :as => :hidden %>
        <td><%= h %> 
          <%= if fields(@import.category).include?(h)
                ('<span class="glyphicon glyphicon-ok" style="color:green" title="Will be imported"></span>').html_safe  
              else 
                ('<span class="glyphicon glyphicon-remove" style="color:red" title="Header is not recognized"').html_safe 
              end %>
        </td> 
        <td><%= @sample[index] %></td>
        <td><%= @sample2[index] %></td>
        <td><%= @sample3[index] %></td>
      </tr>
    <% end %>
  <%= f.button :submit, "Import!", :class => "btn-success" %>
  <% end %>
  
</table>    