<h1> Import companies </h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>BartCRM header</th>
      <th>Spreedsheet header</th>
      <th>Sample data</th>
    </tr>
  </thead>
  <%= simple_form_for @import do |f| %>
    <% @header.each_with_index do |h, index| %>
      <tr>
        <td><%= f.input :header, collection: @fields, label: false %> </td>
        <td><%= h %></td> 
        <td><%= @sample[index] %></td>
      </tr>
    <% end %>
  <%= f.button :submit, :class => "btn-success" %>
  <% end %>
  
</table>
<%= debug @import %>     