.top-bar contact details
.panel-body
  - if @contact.company
    %p
      Company:  #{@contact.company.name}
  - unless @contact.mobile_number.nil?
    %p= @contact.mobile_number
  - unless @contact.office_number.nil?
    %p= @contact.office_number
  %p= @contact.street
  %p= @contact.postalcode
  %p= @contact.city
  %p= @contact.country
  %p= @contact.newslatter
  %p= @contact.know_from
  %p= @contact.email
  %p
    - if @contact.dont_call.nil?
      %span.glyphicon.glyphicon-check
    - else
      %span.glyphicon.glyphicon-remove-sign
    don't call
.bottom-bar
%p= @contact.description
