<h1><%= @contact.name + ' ' + @contact.surname %></h1>
<p><strong>Name:</strong> <%= @contact.name %></p>
<p><strong>Surname:</strong> <%= @contact.surname %></p>
<% if @contact.company %><p>Company:  <%= @contact.company.name %></p><% end %>
<p><strong>Mobile number:</strong> <%= @contact.mobile_number %></p>
<p><strong>Office number:</strong> <%= @contact.office_number %></p>
<p><strong>Street:</strong> <%= @contact.street %></p>

<p><strong>Postalcode:</strong><%= @contact.postalcode %></p>

<p><strong>City:</strong><%= @contact.city %></p>

<p><strong>Country:</strong><%= @contact.country %></p>

<p><strong>Dont call:</strong><%= @contact.dont_call %></p>

<p><strong>Newslatter:</strong><%= @contact.newslatter %></p>

<p><strong>Created by:</strong><%= @contact.created_by %></p>

<p><strong>Modified by:</strong><%= @contact.modified_by %></p>

<p><strong>Know from:</strong><%= @contact.know_from %></p>

<p><strong>Description:</strong><%= @contact.description %></p>

<p><strong>Email:</strong><%= @contact.email %></p>

<div class="col-lg-6">
  <%= simple_form_for Note.new, :url => { :controller => "notes", :action => "create" }, :html => {:method => :post}, html: {class: 'form-horizontal col-lg-12'} do |n| %>
    <%= n.input :text, label: false, :input_html => {:rows => 3}, controls_html: { class: 'col-lg-12' } %>
    <%= n.input :contact_id, :as => :hidden, :input_html => { :value => @contact.id } %>
    <%= n.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
    <%= n.button :submit %>
  <% end %>
  <br /><br /><br /><br /><br /><br /><hr>
  <% @notes.each do |note| %>
  <p><%= note.text %> by <%= link_to note.user.username, user_path(note.user_id) %> <span class="pull-right"><small><%= note.created_at.to_formatted_s(:short)  %></small></span></p>
  <hr>
  <% end %> 
</div>  
<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
