<div class="page-header">
  <h1><%= @contact.name + ' ' + @contact.surname %>
  <small><%= link_to ("<span class='glyphicon glyphicon-pencil'>").html_safe, edit_contact_path(@contact), class: "pull-right" %></small></h1>
</div>

<div class="col-md-3">
    <%= render partial: 'details' %>
</div>
<div class="col-lg-6">
  <%= simple_form_for Note.new, :url => { :controller => "notes", :action => "create" }, :html => {:method => :post}, html: {class: 'form-horizontal col-lg-12'} do |n| %>
    <%= n.input :text, label: false, :input_html => {:rows => 3}, controls_html: { class: 'col-lg-12' } %>
    <%= n.input :contact_id, :as => :hidden, :input_html => { :value => @contact.id } %>
    <%= n.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
    <%= n.button :submit %>
  <% end %>
  <br /><br /><br /><br /><br /><br /><hr>
  <% @notes.each do |note| %>
  <p><%= note.text %> by <%= link_to note.user.username, user_path(note.user_id) %> <span class="pull-right"><small><%= note.created_at.to_formatted_s(:short)  %></small></span></p>
  <hr>
  <% end %> 
</div>  

<div class="col-md-3">
  
  
</div>
