<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @document.user_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @document.company_id %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @document.contact_id %>
</p>

<p>
  <strong>Lead:</strong>
  <%= @document.lead_id %>
</p>

<p>
  <strong>Training:</strong>
  <%= @document.training_id %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
