<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<h1>Calls raports</h1>


<div>
  
  <%= render 'calls_chart' %> 
  
  <div class="col-sm-4">
    <%= search_form_for @search do |f| %>
      <div class="input-group">
        <%= f.text_field :created_at_gteq %>
          <span class="input-group-btn">
            <%= f.submit 'Search', :class => "btn btn-default" %>
          </span>
       </div>
    <% end %>

    </div>
  
   <table class="table table-striped">
    <thead>
      <tr>
        <th><%= sort_link @search, :id, "ID" %></th>
        <th><%= sort_link @search, :call_type, "Call type" %></th>
        <th><%= sort_link @search, :subject, "Subject" %></th>
        <th><%= sort_link @search, :contact_id, "To" %></th>
        <th><%= sort_link @search, :user_id, "By" %></th>
        <th><%= sort_link @search, :created_at, "Day" %></th>
      </tr>
    </thead>
    <tbody>
      <% @calls.each do |call| %>
        <tr>
          <td><%= call.id %></td>
          <td><%= call.call_type %></td>
          <td><%= call.subject %></td>
          <td><%= call.company.name  %></td> 
          <td><%= call.user.username %></td>
          <td><%= call.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>