  <div class="top-bar">
      company details
  </div>
  <div class="panel-body">
      <% unless @company.street.empty? %><p><%= @company.street %></p><% end %>
      <% unless @company.postcode.empty? %><p><%= @company.postcode %> <%= @company.city %></p><% end %>
      <p><%= @company.country %></p>
      <% unless @company.phone.nil? %><p><span class="glyphicon glyphicon-earphone"></span> <%= @company.phone %></p><% end %>
      <% unless @company.fax.nil? %> <p><span class="glyphicon glyphicon-file"></span> <%= @company.fax %></p><% end %>
      <% unless @company.email.empty? %> <p><span class="glyphicon glyphicon-envelope"></span> <%= @company.email %></p><% end %>
      <% unless @company.www.empty? %>
          <br />
          <p><%= link_to @company.www, @company.www, :target => "_blank" %></p>
          <br />
      <% end %>
      <% unless @company.nip.nil? %> <p>NIP <%= @company.nip %></p><% end %>
      <% unless @company.krs.nil? %><p>KRS <%= @company.krs %></p><% end %>
      <% unless @company.regon.nil? %><p>REGON <%= @company.regon %></p><% end %>
      <p><% if @company.electronic_invoice %>
            <span class="glyphicon glyphicon-check"></span>
         <% else %>
             <span class="glyphicon glyphicon-remove-sign"></span>
         <% end %>
          e-invoice
      </p>
      
   </div>
    <div class="bottom-bar"></div>