<div class="top-bar">contacts</div>
<div class="panel-body">
    <% @company.contacts.each do |contact| %>
        <div class="current">
            <p> <%= link_to contact.name + ' ' + contact.surname, contact_path(contact.id) %></p>
        
            <% unless contact.mobile_number.nil? %>
              <p><span class="glyphicon glyphicon-earphone"></span> <%= contact.mobile_number %></p>
            <% end %>
        
            <% unless contact.email.nil? %>
              <p><a href="mailto:<%= contact.email %>"><span class="glyphicon glyphicon-envelope"></span> <%= contact.email %></a>
              
              <span class="pull-right">
                  <%= link_to ("<span class='glyphicon glyphicon-pencil showaction'></span>").html_safe, edit_contact_path(contact.id) %>
                  <%= link_to ("<span class='glyphicon glyphicon-trash showaction'></span>").html_safe, contact_path(contact.id), :method => :delete %>
              </span>
            <% end %>
         </div>
    <% end %>

    <%= button_to "Add contact", new_company_contact_path(@company.id), :method => :get, :class => " btn btn-primary btn-sm" %> 
   
</div>
<div class="bottom-bar"></div>