<div class="top-bar">Notes</div>
<div>   
  <%= simple_form_for Note.new, :url => { :controller => "notes", :action => "create" }, :html => {:method => :post}, html: {class: 'form-horizontal'} do |n| %>
    <%= n.input :text, label: false, placeholder: 'Your note', :input_html => {:rows => 3}, controls_html: { class: 'col-lg-12' } %>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary active">
        <input type="radio" name="note[action_type]" autocomplete="off" value="remark" id="note_action_type_remark"  checked> remark
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="note[action_type]" autocomplete="off" value="call" id="note_action_type_call" > call
      </label>
    </div>
    <%= n.submit :submit, class: 'btn btn-primary btn-sm pull-right', inline: true %>
  <% end %>
</div>

<div class="panel-body">
  <% @notes.each do |note| %>
    <p class="current">
      <% if note.action_type == 'remark' %>
        <span class="glyphicon glyphicon-envelope">
      <% elsif note.action_type == 'call' %>
        <span class='glyphicon glyphicon-phone-alt'>
      <% end %>
        </span> <%= note.text %><small> by <%= link_to note.user.username, user_path(note.user_id) %> </small>
    <span class="pull-right"><small><%= note.created_at.to_formatted_s(:short)  %></small><%= link_to note_path(note.id), :method => :delete do %>
             <span class="glyphicon glyphicon-trash showaction"></span>
           <% end %></span></p>
  <% end %> 
</div>
<div class="bottom-bar"></div>