.top-bar Notes
= simple_form_for Note.new, :url => { :controller => "notes", :action => "create" }, :html => {:method => :post} do |n|
  = n.input :text, label: false, placeholder: 'Your note', input_html: { rows: 3 }
  .btn-group{"data-toggle" => "buttons"}
    %label.btn.btn-primary.active
      %input#note_action_type_remark{:autocomplete => "off", :checked => "checked", :name => "note[action_type]", :type => "radio", :value => "remark"}/
      remark
    %label.btn.btn-primary
      %input#note_action_type_call{:autocomplete => "off", :name => "note[action_type]", :type => "radio", :value => "call"}/
      call
  = n.submit :submit, class: 'btn btn-primary btn-sm pull-right', inline: true
  
.panel-body
  - @notes.each do |note|
    %p.current
      - if note.action_type == 'remark'
        %span.glyphicon.glyphicon-envelope
      - elsif note.action_type == 'call'
        %span.glyphicon.glyphicon-phone-alt
      = note.text
      %small
        by #{link_to note.user.username, user_path(note.user_id)}
      %span.pull-right
        %small= note.created_at.to_formatted_s(:short)
        = link_to note_path(note.id), :method => :delete do
          %span.glyphicon.glyphicon-trash.showaction
.bottom-bar