<div class="col-lg-12">
  <div class="page-header">
    <h4><%= @how_many_companies %> Companies</h4>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <%= link_to 'New company', new_company_path, class: "btn btn-primary" %>
    </div>
    <div class="col-sm-4">
      <%= search_form_for @search do |f| %>
        <div class="input-group">
          <%= f.text_field :name_cont, placeholder: "Search for company...", :class => "form-control" %>
            <span class="input-group-btn">
              <%= f.submit 'Search', :class => "btn btn-default" %>
            </span>
         </div>
       <% end %>
    </div>
    <div class="pull-right"><%= paginate @companies %></div>
    <br /><br />
  </div>
  
  <div class="panel panel-primary col-md-3" style=" margin-top: 10px; ">
    <div class="panel-body">
      Search by:
      <%= search_form_for @search do |f| %>
        <div class="input-group">
          <%= f.text_field :city_cont, placeholder: "city", :class => "form-control" %><br /><br />
          <%= f.text_field :postcode_cont, placeholder: "postcode", class: "form-control" %><br /><br />
          <%= f.text_field :tags_name_cont, placeholder: "tag", class: "form-control"  %><br /><br />
          <%= f.submit 'Search', :class => "btn btn-default" %>
         </div>
    <% end %>
    </div>
  </div>

  <div class="col-md-9">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= sort_link @search, :name, "Name" %></th>
          <th><%= sort_link @search, :street, "Street" %></th>
          <th><%= sort_link @search, :city, "City" %></th>
          <th><%= sort_link @search, :contact_id, "Contact" %></th>
        </tr>
      </thead>
      <tbody>
        <% @companies.each do |company| %>
          <tr>
            <td><%= link_to company.name, company_path(company) %></td>
            <td><%= company.street %></td>
            <td><%= company.city %></td>
            <td><%= link_to company.contacts.first.name + ' ' + company.contacts.first.surname, contact_path(company.contacts.first.id) unless company.contacts.first.nil?  %></td> 
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_company_path(company), :class => 'btn btn-mini showaction' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          company_path(company),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger showaction' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
   
    <div class="col-md-12">
      <%= link_to 'Download current view', companies_path(params.merge(format: :xls)), class: "btn btn-info" unless @companies.empty? %>
      <div class="pull-right"><%= paginate @companies %></div>
    </div>
  </div>
