<div class="col-md-12">
  <div class="page-header">
      <h4><%= "Companies (#{@how_many_companies})" %></h4>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <%= link_to 'New company', new_company_path, class: "btn btn-primary" %>
    </div>
    <div class="col-lg-4">
      <%= search_form_for @search do |f| %>
        <div class="input-group">
          <%= f.text_field :name_cont, :class => "form-control" %>
            <span class="input-group-btn">
              <%= f.submit 'Search', :class => "btn btn-default" %>
            </span>
         </div>
       <% end %>
    </div>
    <div class="pull-right"><%= paginate @companies %></div>
    <br /><br />
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= sort_link @search, :id, "ID" %></th>
        <th><%= sort_link @search, :name, "Name" %></th>
        <th><%= sort_link @search, :street, "Street" %></th>
        <th><%= sort_link @search, :city, "City" %></th>
        <th><%= sort_link @search, :user_id, "User" %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= link_to company.id, company_path(company) %></td>
          <td><%= link_to company.name, company_path(company) %></td>
          <td><%= company.street %></td>
          <td><%= company.city %></td>
          <td><%= company.user_id%></td> 
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_company_path(company), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        company_path(company),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pull-right"><%= paginate @companies %></div>
  
  </div>
