<%- model_class = Company -%>
<div class="page-header">
    <h1><%= link_to @company.name, fullshow_path %>   <small><%= link_to ("<span class='glyphicon glyphicon-pencil'>").html_safe, edit_company_path(@company), class: "pull-right" %></small></h1>
</div>


<div class="col-md-3">
  <div class="top-bar">
      company details
  </div>
  <div class="panel-body">
      <p><%= @company.street %></p>
      <p><%= @company.postcode %> <%= @company.city %></p>
      <p><%= @company.country %></p>
      <% unless @company.phone.nil? %><p><span class="glyphicon glyphicon-earphone"></span> <%= @company.phone %></p><% end %>
      <% unless @company.fax.nil? %> <p><span class="glyphicon glyphicon-file"></span> <%= @company.fax %></p><% end %>
      <% unless @company.email.nil? %> <p><span class="glyphicon glyphicon-envelope"></span> <%= @company.email %></p><% end %>
      <br />
      <p><%= link_to @company.www, @company.www, :target => "_blank" unless @company.www.nil? || @company.www == "http://"%></p>
      <br />
      <% unless @company.nip.nil? %> <p>NIP <%= @company.nip %></p><% end %>
      <% unless @company.krs.nil? %><p>KRS <%= @company.krs %></p><% end %>
      <% unless @company.regon.nil? %><p>REGON <%= @company.regon %></p><% end %>
      <p><% if @company.electronic_invoice %>
            <span class="glyphicon glyphicon-check"></span>
         <% else %>
             <span class="glyphicon glyphicon-remove-sign"></span>
         <% end %>
          e-invoice
      </p>
      
   </div>
    <div class="bottom-bar"></div>
    <div class="top-bar">description</div>
    <div class="panel-body">
        <p> Tags:<%= @company.tag_list unless @company.tag_list.empty? %></p>
        <p><%= @company.description %></p>
    </div>
    <div class="bottom-bar"></div>
    
    <div class="top-bar">documents</div>

        <% unless @documents.empty? %>  
           <div class="panel-body">
            <% @documents.each do |document| %>
             <p class="current">
               <%= link_to document.data_file_name, document.data.url %>
               <span class="pull-right"><small>
                 <%= link_to document_path(document.id), :method => :delete do %>
                   <span class="glyphicon glyphicon-trash showaction"></span>
                 <% end %>
               </small></span>
             </p>
            <% end %> 
            </div>
          <% end %>

        
        <button id="add" class="btn btn-primary btn-sm">add</button>
        <br /><br />
        <div class="panel-body" id="adddiv" style="display:none">
          <%= simple_form_for Document.new, :html => { :multipart => true, class: 'form-horizontal' } do |f| %>
            <%= f.file_field :data, label: false %> <br />
            <%= f.input :company_id, :as => :hidden, :input_html => { :value => @company.id } %>
            <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
            <%= f.button :submit, "upload file" %>
          <% end %>
        </div>

        
    <div class="bottom-bar"></div>
</div>

<div class="col-lg-5">
  
  <div class="panel panel-primary">
    <div class="panel-heading" data-toggle="collapse" data-target="#calls"><span class="glyphicon glyphicon-time"></span> Schedule<span class="glyphicon glyphicon-plus pull-right"></span></div>
    
    <div id="calls" class="collapse"> <div class="panel-body">
       <%= simple_form_for Schedule.new, :url => {:controller => "schedules", :action => "create" }, :html => {:method => :post}, html: {class: 'form-horizontal col-lg-12'} do |c| %>
        <%= c.input :action_type, label: false, collection: ["Meeting"], prompt: "Call" %>
        <%= c.input :subject, label: false, placeholder: 'Subject', :controls_html => { class: "col-lg-12" } %>
        <%= c.input :time, label: false, as: :string, placeholder: 'Date', :input_html => {:id => "dt5"}, :controls_html => { class: "col-lg-8"} %>
        <%= c.input :company_id, :as => :hidden, :input_html => { :value => @company.id } %>
        <%= c.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
        <%= c.button :submit %>
      <% end %>
      
      <script type="text/javascript">
        $(function() {
          $('#dt5').datetimepicker({
            format: 'DD/MM/YYYY HH:mm:ss'
          });
        });
      </script>
      
      <hr>
      </div>
    </div>
    <% unless @schedules.empty? %> 
     <div class="panel-body">
      <% @schedules.each do |schedule| %>
       <p>
          <% if schedule.action_type == "Meeting" then %> 
           <span class="glyphicon glyphicon-glass"></span>
          <% else %>
           <span class="glyphicon glyphicon-phone-alt"></span>
          <% end %>

         <%= schedule.subject %> <small>by</small> <%= link_to schedule.user.username, user_path(schedule.user.id) %>
         <span class="pull-right"><small><%= schedule.time.to_formatted_s(:short)  %>  
           <%= link_to schedule_path(schedule.id), :method => :delete do %>
             <span class="glyphicon glyphicon-remove" style="color:red"></span>
           <% end %>
         </small></span>
       </p>
      <% end %> 
    </div>
   <% end %>
    
    
    
  <ul class="nav nav-tabs">
    <li class="active"><a href="#note" data-toggle="tab">New note</a></li>
    <li><a href="#call" data-toggle="tab">New call</a></li>
  </ul>
  <p></p>
  <div class="tab-content">
    <div class="tab-pane active" id="note">
      <%= simple_form_for Note.new, :url => { :controller => "notes", :action => "create" }, :html => {:method => :post}, html: {class: 'form-horizontal col-lg-12'} do |n| %>
        <%= n.input :text, label: false, placeholder: 'Your note', :input_html => {:rows => 3}, controls_html: { class: 'col-lg-12' } %>
        <%= n.input :company_id, :as => :hidden, :input_html => { :value => @company.id } %>
        <%= n.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
        <%= n.button :submit %>
      <% end %>
    </div>
    
    <div class="tab-pane" id="call">
      <%= simple_form_for Call.new, :url => { :controller => "calls", :action => "create" }, :html => {:method => :post}, html: {class: 'form-horizontal col-lg-12'} do |n| %>
        <%= n.input :subject, label: false, placeholder: 'Call result', controls_html: { class: 'col-lg-12' } %>
        <%= n.input :call_type, label: false, placeholder: 'Subject', collection: ["First contact", "Negotiation", "Support"], include_blank: false , controls_html: { class: 'col-lg-12' } %>
        <%= n.input :company_id, :as => :hidden, :input_html => { :value => @company.id } %>
        <%= n.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
        <%= n.button :submit %>
      <% end %>
    </div>
  </div>
  <hr>
  <div style="margin-top:150px;">
     <% @notes.each do |note| %>
    <p><span class="glyphicon glyphicon-envelope"></span> <%= note.text %> by <%= link_to note.user.username, user_path(note.user_id) %> <span class="pull-right"><small><%= note.created_at.to_formatted_s(:short)  %></small></span></p>
       <hr>
     <% end %> 
     <% @calls.each do |call| %>
      <p><span class="glyphicon glyphicon-earphone"></span> <%= call.subject %> by <%= link_to call.user.username, user_path(call.user_id) %> <span class="pull-right"><small><%= call.created_at.to_formatted_s(:short)  %></small></span></p>
       <hr>
     <% end %> 
  </div>
</div>   
</div>

<div class="col-lg-4">
    <% @company.contacts.each do |contact| %>
    <p><h3> <%= link_to  '<span class="glyphicon glyphicon-user"></span>'.html_safe + ' ' + contact.name + ' ' + contact.surname, contact_path(contact.id) %></h3></p>

    <% unless contact.mobile_number.nil? %>
      <p><span class="glyphicon glyphicon-earphone"></span> <%= contact.mobile_number %></p>
    <% end %>

    <% unless contact.email.nil? %>
      <p><a href="mailto:<%= contact.email %>"><span class="glyphicon glyphicon-envelope"></span> <%= contact.email %></a></p>
    <% end %>
  <% end %>

  <%= button_to "Add contact", new_company_contact_path(@company.id), :method => :get, :class => " btn btn-primary" %> 
</div> 
  