.page-header
  %h1
    = link_to @company.name, fullshow_path
    %small
      = link_to edit_company_path(@company), class: "pull-right" do 
        .glyphicon.glyphicon-pencil
.col-md-3
  = render 'details'
  .top-bar description
  .panel-body
    %p
      Tags:#{@company.tag_list unless @company.tag_list.empty?}
    - unless @company.description.empty?
      %p= @company.description
  .bottom-bar
  = render partial: 'documents'
.col-lg-6
  = render 'schedule'
  = render 'notes'
.col-lg-3
  = render 'contact'