<%- model_class = Company -%>
<div class="page-header">
    <h1><%= link_to @company.name, fullshow_path %>   <small><%= link_to ("<span class='glyphicon glyphicon-pencil'>").html_safe, edit_company_path(@company), class: "pull-right" %></small></h1>
</div>


<div class="col-md-3">
    <%= render partial: 'companydetails' %>
    
    <div class="top-bar">description</div>
    <div class="panel-body">
        <p> Tags:<%= @company.tag_list unless @company.tag_list.empty? %></p>
        <p><%= @company.description %></p>
    </div>
    <div class="bottom-bar"></div>

    <%= render partial: 'documents' %>
</div>

<div class="col-lg-5">
 <%= render partial: 'schedule' %> 
 <%= render partial: 'notes' %>
    
    
 
</div>

<div class="col-lg-4">
    <% @company.contacts.each do |contact| %>
    <p><h3> <%= link_to  '<span class="glyphicon glyphicon-user"></span>'.html_safe + ' ' + contact.name + ' ' + contact.surname, contact_path(contact.id) %></h3></p>

    <% unless contact.mobile_number.nil? %>
      <p><span class="glyphicon glyphicon-earphone"></span> <%= contact.mobile_number %></p>
    <% end %>

    <% unless contact.email.nil? %>
      <p><a href="mailto:<%= contact.email %>"><span class="glyphicon glyphicon-envelope"></span> <%= contact.email %></a></p>
    <% end %>
  <% end %>

  <%= button_to "Add contact", new_company_contact_path(@company.id), :method => :get, :class => " btn btn-primary" %> 
</div> 
  