= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' }) do |f|
  = devise_error_messages!
  .form-group
    %label.col-sm-2.control-label{:for => "inputEmail3"} e-mail
    .col-sm-9
      = f.text_field :email, class: "form-control col-sm-10", autofocus: true, id: "person"
      / "e-mail"
      #iperson
  .form-group
    %label.col-sm-2.control-label{:for => "inputPassword3"} password
    .col-sm-9
      = f.password_field :password, class: "form-control col-sm-10"
      / "password"
  = f.submit 'Login', class: 'btn btn-primary'
  = f.check_box :remember_me
  remember me
%br/
= render "devise/shared/links"