<div class="col-md-12">
  <div class="page-header">
    <h4><%= "Products (#{@how_many_products})" %></h4>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <%= link_to 'New product', new_product_path, class: "btn btn-primary" %>
    </div>
    <div class="col-lg-4">
      <%= search_form_for @search do |f| %>
        <div class="input-group">
          <%= f.text_field :name_cont, :class => "form-control" %>
            <span class="input-group-btn">
              <%= f.submit 'Search', :class => "btn btn-default" %>
            </span>
         </div>
       <% end %>
    </div>
    <div class="pull-right"><%= paginate @products %></div>
    <br /><br />
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= sort_link @search, :id, "ID" %></th>
        <th><%= sort_link @search, :topic, "Name" %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to product.id, product_path(product) %></td>
          <td><%= link_to product.name, product_path(product) %></td>
          <td><%= product.place %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_product_path(product), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        product_path(product),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pull-right"><%= paginate @products %></div>
</div>
 
